<p id="notice"><%= notice %></p>
<div id="page-paginate">
  <div id="results">
    <%= render partial: 'results', locals: {songs: @songs} %>
  </div>
</div>
<br>

<%= link_to 'New Song', new_song_path %>
