<p id="notice"><%= notice %></p>
<div class="search-form">
  <%= form_tag request.path, remote: true, 'data-update-target': 'results', method: 'get' do %>
      <div class="form-group">
        <%= text_field_tag :search, params[:search], placeholder: 'Search by Song, Album, or Artist', class: 'form-control' %>
      </div>
  <% end %>
</div>

<br>

<div id="page-paginate">
  <div id="results" class="col-xl-9 col-lg-9">
    <%= render partial: 'results', locals: {songs: @songs} %>
  </div>
</div>
<br>
