// Place all the styles related to the Songs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

table, th, td {
  font-family: "Lucida Grande", Helvetica, sans-serif;
}

// >900px
@media screen and (min-width: 901px) {
  .search-form {
    display: block;
    width: 850px;
    height: 35px;
    position: relative;
    right: 1px;
    margin: 0 auto;
  }

  .pagination {
    display: block !important;
    width: 100%;
    height: 35px;
    margin: 0 auto !important;
  }

  .pagination a, .pagination span {
    border: 1px solid #ccc !important;
    height: 35px;
    padding: 7px 0 !important;
    text-align: center;
    width: 35px !important;
  }
;

  .next a, .next span, .prev a, .prev span {
    width: 100px;
    text-align: center;
  }

  #results {
    margin: 0 auto;
    width: 850px;
    float: none;
  }

  table {
    margin-top: 10px !important;
  }
}

//651-800px
@media screen and (min-width: 701px) and (max-width: 900px) {
  .search-form {
    display: block;
    width: 650px;
    height: 35px;
    margin: 0 auto;
  }

  .pagination {
    display: block !important;
    width: 650px;
    height: 35px;
    margin: 0 auto !important;
  }

  .pagination a, .pagination span {
    border: 1px solid #ccc !important;
    height: 35px;
    padding: 7px 0 !important;
    text-align: center;
    width: 35px !important;
  }
;

  .next a, .next span, .prev a, .prev span {
    text-align: center;
  }

  .next a, .next span {
    width: 100px;
  }
;

  table {
    margin-top: 10px !important;
  }

  #results {
    margin: 0 auto;
    width: 650px;
    float: none;
  }
}

// <700px
@media (max-width: 700px) {
  .search-form {
    display: block;
    width: 350px;
    height: 35px;
    margin: 0 auto !important;
  }

  #page-paginate .pagination {
    display: block;
    width: 349px;
    height: 35px;
    margin: 0 auto !important;
  }

  #results {
    width: 350px;
    display: block;
    margin: 0 auto !important;
  }

  #results tr {
    width: 350px !important;
  }

  #results td:first-child {
    width: 100px;
    padding-left: 0;
    padding-right: 0;
  }

  #results td:nth-child(2) {
    width: 100px;
    padding-left: 0;
    padding-right: 0;
  }

  #results td:nth-child(3),
  #results td:nth-child(4) {
    width: 75px;
    padding-left: 0;
    padding-right: 0;
  }

  #page-paginate .pagination .prev,
  #page-paginate .pagination .next {
    display: block !important;
    float: left;
    margin-bottom: 10px;

  }

  .next a, .next span, .prev a, .prev span {
    width: 175px;
    height: 34px;
    text-align: center;
    border: 1px solid #ccc !important;
  }

  #page-paginate .pagination > li {
    display: none;
    margin: 0 auto;
  }

  #page-paginate .pagination li:first-child,
  #page-paginate .pagination li:last-child {
    display: inline;
  }
}